*{
    margin: 0;
    padding: 0;

}
body{
    position:relative;
   justify-content: center;
    align-items: center;
    background-color: black;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border:none;
    margin:2px;
    font-size:30px;
    font-weight: 250;
}
.entrada{
    border: none;
    width: 250px;
    height:100px;
    font-size:50px;
    text-align: left;
    background-color: black;
    color:white;
}
.cerobutton{
    width:100%;
    text-align: left ;
    padding-left:25px ;
}
.lightbutton{
    background-color: #a6a6a6;
    color:black

}
.darkbutton{
    background-color: #333;
    color:white
}
.accentbutton{
    background-color: #ff9501;
    color:white
}
